/* Untuk Tablet */
@media all and (max-width: 1000px) {

    .container {
        padding: 50px;
    }

    .teams {
        height: 100%;
        color: black;
        display: block;
    }

    .teams::before {
        display: none;
    }

    .teams .heading h2 {
        border-bottom: 1px solid #000;
    }

    .teams .team-list {
        margin-top: 25px;
    }

    .teams .team {
        width: 50%;
        margin-bottom: 20px;
        color: white;
        float: left;
        position: relative;
    }

    .teams .team::before {
        content: '';
        width: 95%;
        height: 100%;
        position: absolute;
        background-image: url('./images/bg-team-2.jpg');
        z-index: -1;
        left: 0;
        overflow: hidden;
        margin-left: 17px;
        background-position: center;
    }

    .orange {
        background-color: rgba(255, 68, 0, 0.548);
    }

    .red {
        background-color: rgba(139, 0, 0, 0.527);
    }

    /* Contact */
    .map {
        padding-top: 50px;
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }

    .contact {
        height: 100%;
        margin-top: 50px;
    }

    .contact-form {
        float: left;
        width: 100%;
        padding-right: 0;
    }

    .contact-submit {
        width: 100%;
    }

    .footer {
        height: 40%;
        padding: 0 30px;
    }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

    .container {
        padding: 30px;
    }

    .teams {
        height: 100%;
        color: black;
        display: block;
    }

    .teams::before {
        display: none;
    }

    .teams .heading h2 {
        border-bottom: 1px solid #000;
    }

    .teams .team {
        width: 100%;
        margin-bottom: 20px;
        color: white;
        position: relative;
    }

    .teams .team::before {
        content: '';
        width: 96%;
        height: 100%;
        position: absolute;
        background-image: url('./images/bg-team-2.jpg');
        z-index: -1;
        left: 0;
        overflow: hidden;
        margin-left: 18px;
        background-position: center;
    }

    .teams .team-list {
        margin-top: 25px;
    }

    .orange {
        background-color: rgba(255, 68, 0, 0.548);
    }

    .red {
        background-color: rgba(139, 0, 0, 0.527);
    }

    /* Contact */
    .contact {
        height: 100%;
        margin-top: 50px;
    }

    .map {
        padding-top: 50px;
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-form {
        float: left;
        width: 100%;
        padding-right: 0;
    }

    .contact-submit {
        width: 100%;
    }

    .footer {
        height: 55%;
        padding: 0 20px;
    }
}
